@import "tailwindcss";

@theme {
  --color-brand: #10b981;
  --color-brand-hover: #059669;
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
